@font-face
{
	font-family: 'police1';
	src : url('police1.otf');
}

@font-face
{
	font-family: 'police2';
	src : url('police2.otf');
}

@font-face
{
	font-family: 'police3';
	src : url('police3.ttf');
}

body
{
	background-image: url("fond2.jpg");
	background-repeat: repeat;
}

#bloc_page
{
    width: 1100px;
    margin: auto;
}

header
{
    background: url('fond.jpg') ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 6px 6px 0px black;
    padding:20px 20px 20px 20px;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#plume
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

header h1
{
    font-family: 'police1', serif;
    font-size: 50px;
    font-weight: normal;
    margin: 0 0 0 10px;
    color: white;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    color: white;
	font-size: 1.25em;
	font-family: 'Police3', Arial, serif;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: maroon;
    border-bottom: 3px solid maroon;
}

section
{
    display: flex;
    margin-bottom: 25px;
}


footer
{
	display: flex;
	justify-content: center;
	padding-top: 5px;
    font-family: 'police3', arial, serif;
}

#délimitation
{
	display: flex;
	justify-content: center;
	padding-top: 55px;
}

#délimitation2
{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

section
{
    display: flex;
    margin-bottom: 25px;
}

section h1
{
    font-size: 45px;
    margin-right: 370px;
    margin-left: 430px;
    margin-bottom: 60px;
    color: black;
    background-color: white;
    box-shadow: 6px 6px 0px black;
    padding:20px 20px 20px 20px;
    font-family: 'police2', arial, serif;
}



article h2
{
	font-size: 45px;
    margin-right: 470px;
    margin-left: 490px;
    margin-bottom: 70px;
    color: black;
    background-color: white;
    box-shadow: 6px 6px 0px black;
    padding:20px 20px 20px 20px;
    font-family: 'police2', arial, serif;
}


#bande video
{
	display: flex;
	margin-right: 200px;
	margin-left: 250px;
}


article p
{
	font-size: 18px;
	margin-left: 610px;
    margin-bottom: 60px;
    margin-right: 60px;
    color: black;
    background-color: white;
    box-shadow: 6px 6px 0px black;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'police3', arial, serif; 
}

article img
{
	box-shadow: 6px 6px 0px black;
	margin-top: 38px;
	margin-left: 165px;
}

article a
{
	font-family: 'Police3', Arial, serif;
    color: gray;
    font-size: 1.1em;
}

article a:hover
{
    color: maroon;
}
